<style type="text/css">

/*B&W*/
.bw {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all ease;
    }
 
.bw:hover {
    -webkit-filter: grayscale(100%);
    }


* {
    box-sizing: border-box;
}


.row {
    max-width: 99%;
    margin: auto;
    }


.row:after {
    content: "";
    display: table;
    clear: both;
    }

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    marging-top:20px;
    }


body{background:url(https://jmcontabilidadesj.com.br/layout%20jm%20topotras.jpg);
    background-position: top;   
    background-repeat: repeat-x; 
    font-family:tahoma;
    font-size:13px;
    line-height:180%;
    margin: 0;
    padding: 0;
    }
h1{
      font-family:verdana;
    font-size:19px;
    color:#000000;
        
    }
h2{
    font-family:tahoma;
    font-size:14px;color:#b32400;
    line-height:190%;
    padding-top:20px;
    text-align: center;
        
    }
h3{
    font-family:verdana;
    font-size:10px;
    padding-top:10px;
    color:#fff;
    text-align: center;
    font-weight: normal;
    margin: 0px;
}

t{
    font-family:verdana;
    font-size:9px;
    }
b{
    font-family:verdana;
    font-size:12px;
    color:#000000;
    
} 
td, p{
    COLOR:#000000;
    font-size:12px;
    FONT-FAMILY:verdana;
    
}
.div {
    overflow:auto;
    
} 


a {
    color:#cc4004;
    font-weight:regular;
    text-decoration:none;
    font-size:13px;
    text-decoration:none;
    FONT-FAMILY:verdana;
    line-height:180%;
        
} 
A:hover{
    COLOR:#662103;
    font-size:13px;
    text-decoration:none;
    FONT-FAMILY:verdana;
}



footer {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.footer-box {
    background-color: #F06405;
    height:45px;
    margin-top: 20px;
}



@media (min-width: 1281px) {

    h2{
        font-family:tahoma;
        font-size:16px;
        color:#b32400;
        line-height:190%;
        padding-top:20px;
        text-align: center;
        
    }
    
    .dropbtnm {
        color: #FFFFFF;
        
    }
    
    .dropdownm {
        display: none;
        
    }
    
    .menutop {
        margin-top:248px;
        
    }
    
    .menudrop {
        margin: 0 auto;
        width: -moz-max-content;
        width: fit-content;
        
    }

    .dropbtn {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 200px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        font-family: arial;
        font-weight: 700;
        z-index: 1;
        margin: 23px;
        margin-top:2px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 200px;
        z-index: 1;
        margin:23px;
        margin-top: -30px;    
    }

    .dropdown-content a {
        color: black;
        padding: 10px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 1px;
    }

    .dropdown-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
        
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }


    .caixa1 {
        width:35%;
        font-family:tahoma; 
        font-size:15px; 
        color: #444444;
        line-height:180%;
        float: left;
        margin-left:14%;
        margin-right:-6%;
        margin-top: 25px;
        margin-bottom:65px;
        text-align: center;
    }


    #tel {
        position:absolute;
        top:60px;
        left:66%;
        font-family:tahoma;
        font-size:14px;
        line-height:180%;
    }
    #number {
        position:absolute;
        width:278px;
        height:173px;
        top:45px;
        left:65%;
        font-family:tahoma;
        font-size:14px;
        line-height:140%;
    }
    #layout {
        position: absolute;
        top:47px;
        left:12%;
        z-index: 2;
    }
    #telefonemobile {
        display: none;
    }
    #numeromobile {
        display: none;
    }
}






@media (min-width: 1025px) and (max-width: 1280px) {


    .dropbtnm {
        color: #FFFFFF;
        
    }
    
    .dropdownm {
        display: none;
        
    }
    
    .menutop {
        margin-top:248px;
        
    }
    
    .menudrop {
        margin: 0 auto;
        width: -moz-max-content;
        width: fit-content;
        
    }

    .dropbtn {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 180px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        font-family: arial;
        font-weight: 600;
        z-index: 1;
        margin: 20px;
        margin-top:2px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 180px;
        z-index: 1;
        margin:20px;
        margin-top: -25px;
    }

    .dropdown-content a {
        color: black;
        padding: 6px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 1px;
    }

    .dropdown-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
        
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .caixa1 {
        width:40%;
        font-family:tahoma; 
        font-size:13px; 
        line-height:180%;
        float: left;
        margin-left:8%;
        margin-top: 25px; 
        margin-bottom:55px;
        text-align: center;
    }


    #tel {
        position:absolute;
        top:60px;
        left:66%;
        font-family:tahoma;
        font-size:13px;
        line-height:180%;
    }
    #number {
        position:absolute;
        width:270px;
        height:173px;
        top:45px;
        left:64%;
        font-family:tahoma;
        font-size:13px;
        line-height:160%;
    }
    #layout {
        position: absolute;
        top:47px;
        left:7%;
        z-index: 2;
    }
    #telefonemobile {
        display: none;
    }
    #numeromobile {
        display: none;
    }
}






@media (min-width: 768px) and (max-width: 1024px) {


    .dropbtnm {
    color: #FFFFFF;
        
    }
    
    .dropdownm {
    display: none;
        
    }
    
    .menutop {
    margin-top:248px;
        
    }
    
    .menudrop {
    margin: 0 auto;
    width: -moz-max-content;
    width: fit-content
        
    }

    .dropbtn {
        background-color: #ffffff;
        color: #000000;
        padding: 11px;
        width: 159px;
        font-size: 13px;
        border: none;
        cursor: pointer;
        font-family: arial;
        font-weight: 600;
        z-index: 1;
        padding-top: 14px;
        margin:8px;
        margin-top: 6px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 159px;
        z-index: 1;
        margin:8px;
        margin-top: -8px;
    }

    .dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 1px;
    }

    .dropdown-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
        
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }


    .caixa1 {
        width:40%;
        font-family:tahoma; 
        font-size:13px; 
        line-height:180%;
        float: left;
        margin-left:7%;
        margin-right:3%;
        margin-top: 20px; 
        margin-bottom:45px;
        text-align: center;
    }


    #tel {
        position:absolute;
        top:60px;
        left:68%;
        font-family:tahoma;
        font-size:13px;
        line-height:180%;
    }
    #number {
        position:absolute;
        width:270px;
        height:173px;
        top:45px;
        left:66%;
        font-family:tahoma;
        font-size:13px;
        line-height:160%;
    }
    #layout {
        position: absolute;
        top:47px;
        left:6%;
        z-index: 2;
    }
    #telefonemobile {
        display: none;
    }
    #numeromobile {
        display: none;
    }
}




@media (min-width: 481px) and (max-width: 767px) {
/ mobile /
    .menutop {
    display: none;
        
    }
    
    .menudrop {
    display: none;
        
    }
    
    .caixa1 {
        font-family:tahoma; 
        font-size:13px; 
        line-height:180%;
        text-align: center;
        margin: auto;
        padding-left:10%;
        padding-right:10%;
        padding-top:85px;
    }

    #tel {
        position:absolute;
        top:60px;left:70%;
        font-family:tahoma;
        font-size:13px;
        line-height:180%;
        display:none;
    }
    #number {
        position:absolute;
        width:258px;
        height:173px;
        top:45px;
        left:68%;
        font-family:tahoma;
        font-size:13px;
        line-height:160%;
        display:none;
    }
    #layout {
        z-index:1;
        position: relative;
        display: block;
        padding-top: 47px;
        margin: auto;
        width: -moz-fit-content;
    }

    .menutopm {
        float:right;
        margin-top: 20px;
        margin-right: 20px;
        
    }
    
    .menudropm {
        margin: 0 auto;
        width: -moz-max-content;
    }
    
    .dropbtnm {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 150px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-right:3%;
        font-family: arial;
        font-weight: 700;
        margin-bottom:1px;
        z-index:1;
    }

    .dropdownm {
        position: relative;
        display: inline-block;
        z-index:1;
    }

    .dropdownm-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 150px;
        z-index: 1;
        margin-right:3%;
        z-index:1;    
    }

    .dropdownm-content a {
        color: black;
        padding: 11px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index:1;
    }

    .dropdownm-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
        
    }
    
    .dropdownm:hover .dropdownm-content {
        display: block;
    }
    #telefonemobile {
        position:absolute;
        top:237px;
        left:14%;
        line-height:180%;
    }
    #numeromobile {
        position:absolute;
        width:250px;
        height:173px;
        top:235px;
        left:11%;
        font-family:tahoma;
        font-size:12px;
        color: white;
        line-height:120%;
    }
}




@media (min-width: 320px) and (max-width: 480px) {
/ mobile small /
    .menutop {
        display: none;
        
    }
    
    .menudrop {
        display: none;
        
    }


    .caixa1 {
        font-family:tahoma; 
        font-size:13px; 
        line-height:180%;
        text-align: center;
        margin: auto;
        padding-left:8%;
        padding-right:8%;
        padding-top: 110px;
    }

    #tel {
        position:absolute;
        top:60px;
        left:70%;
        font-family:tahoma;
        font-size:13px;
        line-height:180%;
        display:none;
    }
    #number {
        position:absolute;
        width:258px;
        height:173px;
        top:45px;
        left:68%;
        font-family:tahoma;
        font-size:13px;
        line-height:160%;
        display:none;
    }
    #layout {
        z-index:1;
        display: block;
        box-sizing: content-box;
        padding-top: 67px;
        height: 117px;
        width: 290px;
        margin: auto;
    }
    
    .menutopm {
        float:right;
        margin-top: 60px;
        margin-right: 20px;
    }

    .menudropm {
        margin: 0 auto;
        width: -moz-max-content;
    }

    .dropbtnm {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 100px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-left:18%;
        margin-right:3%;
        font-family: arial;
        font-weight: 700;
        margin-bottom:1px;
        z-index:1;
    }

    .dropdownm {
        position: relative;
        display: inline-block;
        z-index:1;
    }

    .dropdownm-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 100px;
        z-index: 1;
        margin-left:18%;
        margin-right:3%;
        z-index:1;    
    }

    .dropdownm-content a {
        color: black;
        padding: 10px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index:1;
        font-size: 14px;
    }

    .dropdownm-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
        
    }

    .dropdownm:hover .dropdownm-content {
        display: block;
    }

    #telefonemobile {
        position:absolute;
        top:238px;
        left:9%;
        line-height:180%;
    }
    #numeromobile {
        position:absolute;
        width:250px;
        height:173px;
        top:236px;
        left:2%;
        font-family:tahoma;
        font-size:12px;
        color: white;
        line-height:120%;
    }
    
    footer {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-box {
        background-color: #F06405;
        height:70px;
        margin-top: 50px;
    }
    
    
}


</style>