

body {
    background: url(/images/header-bg.jpg);
    background-position: top;
    background-repeat: repeat-x;
    margin-left: -3%;
}

h2 {
    font-family: tahoma;
    font-size: 14px;
    color: #b32400;
    line-height: 220%;
}

h3 {
    font-family: verdana;
    font-size: 9px;
    color: #000000;
}

a {
    color: #cc4004;
    font-weight: regular;
    text-decoration: none;
    font-size: 12px;
    text-decoration: none;
    FONT-FAMILY: verdana;
    line-height: 180%;
}

A:hover {
    COLOR: #662103;
    font-size: 12px;
    text-decoration: none;
    FONT-FAMILY: verdana;
}

div.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid #f26803;
    padding: 7px 12px 6px 12px;
    font-family: tahoma;
    font-size: 12px;
    z-index: 1;
    background-color: white;
}



@media (min-width: 768px) {

    body {
        background-position: top;
        background-repeat: repeat-x;
        margin-left: -3%;
    }


    #layout {
        z-index: 1;
        position: relative;
        display: block;
        margin: auto;
        padding-top: 38px;

    }

    .menutop {
        position: absolute;
        top: 330px;
        font-family: tahoma;
        font-size: 16px;
        line-height: 180%;
        padding-left: 20%;
        padding-right: 20%;
    }


    .dropbtn {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 250px;
        font-size: 16px;
        border: none;
        font-family: arial;
        font-weight: 700;
        margin-bottom: 1px;
        z-index: 1;
    }

    .dropdown {
        z-index: 1;
    }

    .dropdown-content {
        background-color: #ffffff;
        width: 250px;
        z-index: 1;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 11px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index: 1;
    }

    .dropdown-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #telefonemobile {
        position: absolute;
        top: 237px;
        left: 12%;
        line-height: 180%;
    }

    #numeromobile {
        position: absolute;
        width: 250px;
        height: 173px;
        top: 235px;
        left: 11%;
        font-family: tahoma;
        font-size: 12px;
        color: white;
        line-height: 120%;
    }

    .menutopm {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    .menudropm {
        margin: 0 auto;
        width: -moz-max-content;
        width: fit-content
    }

    .dropbtnm {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 150px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-right: 3%;
        font-family: arial;
        font-weight: 700;
        margin-bottom: 1px;
        z-index: 1;
    }

    .dropdownm {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .dropdownm-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 150px;
        z-index: 1;
        margin-right: 3%;
        z-index: 1;
    }

    .dropdownm-content a {
        color: black;
        padding: 11px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index: 1;
    }

    .dropdownm-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
    }

    .dropdownm:hover .dropdownm-content {
        display: block;
    }

}

/* Mobile */

@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-position: top;
        background-repeat: repeat-x;
        margin-left: -3%;
    }


    #layout {
        z-index: 1;
        position: relative;
        display: block;
        margin: auto;
        padding-top: 34px;
    }

    .menutop {
        position: absolute;
        top: 330px;
        font-family: tahoma;
        font-size: 16px;
        line-height: 180%;
        padding-left: 20%;
        padding-right: 20%;
    }


    .dropbtn {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 250px;
        font-size: 16px;
        border: none;
        font-family: arial;
        font-weight: 700;
        margin-bottom: 1px;
        z-index: 1;
    }

    .dropdown {
        z-index: 1;
    }

    .dropdown-content {
        background-color: #ffffff;
        width: 250px;
        z-index: 1;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 11px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index: 1;
    }

    .dropdown-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #telefonemobile {
        position: absolute;
        top: 237px;
        left: 14%;
        line-height: 180%;
    }

    #numeromobile {
        position: absolute;
        width: 250px;
        height: 173px;
        top: 235px;
        left: 11%;
        font-family: tahoma;
        font-size: 12px;
        color: white;
        line-height: 120%;
    }

    .menutopm {
        float: right;
        margin-top: 25px;
        margin-right: 20px;
    }

    .menudropm {
        margin: 0 auto;
        width: -moz-max-content;
        width: fit-content
    }

    .dropbtnm {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 150px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-right: 3%;
        font-family: arial;
        font-weight: 700;
        margin-bottom: 1px;
        z-index: 1;
    }

    .dropdownm {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .dropdownm-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 150px;
        z-index: 1;
        margin-right: 3%;
        z-index: 1;
    }

    .dropdownm-content a {
        color: black;
        padding: 11px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index: 1;
    }

    .dropdownm-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
    }

    .dropdownm:hover .dropdownm-content {
        display: block;
    }
}


    /* mobile small */

@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-position: top;
        background-repeat: repeat-x;
        margin-left: -3%;
    }


    #layout {
        z-index: 1;
        display: block;
        box-sizing: content-box;
        padding-top: 67px;
        height: 117px;
        width: 290px;
        margin: auto;
    }

    .menutop {
        position: absolute;
        top: 300px;
        font-family: tahoma;
        font-size: 16px;
        line-height: 180%;
        padding: 25px;
    }

    .dropbtn {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 220px;
        font-size: 16px;
        border: none;
        font-family: arial;
        font-weight: 700;
        margin-bottom: 1px;
        z-index: 1;
    }

    .dropdown {
        z-index: 1;
    }

    .dropdown-content {
        background-color: #ffffff;
        width: 220px;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index: 1;
        font-size: 14px;
    }

    .dropdown-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #telefonemobile {
        position: absolute;
        top: 238px;
        left: 9%;
        line-height: 180%;
    }

    #numeromobile {
        position: absolute;
        width: 250px;
        height: 173px;
        top: 236px;
        left: 2%;
        font-family: tahoma;
        font-size: 12px;
        color: white;
        line-height: 120%;
    }

    .menutopm {
        float: right;
        margin-top: 54px;
        margin-right: 30px;
    }

    .menudropm {
        margin: 0 auto;
        width: -moz-max-content;
        width: fit-content
    }

    .dropbtnm {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        width: 100px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-left: 18%;
        margin-right: 3%;
        font-family: arial;
        font-weight: 700;
        margin-bottom: 1px;
        z-index: 1;
    }

    .dropdownm {
        position: relative;
        display: inline-block;
        z-index: 1;
    }

    .dropdownm-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 100px;
        z-index: 1;
        margin-left: 18%;
        margin-right: 3%;
        z-index: 1;
    }

    .dropdownm-content a {
        color: black;
        padding: 10px 11px;
        text-decoration: none;
        display: block;
        border: 1px solid #c0c0c0;
        margin-bottom: 2px;
        z-index: 1;
        font-size: 14px;
    }

    .dropdownm-content a:hover {
        background-color: #f9f9f9;
        text-decoration: none;
    }

    .dropdownm:hover .dropdownm-content {
        display: block;
    }
}